*.exe
*.bat
*.zip
*.rar
*.7z
\!COMPILED
\!DIALOGS
*.msg
*.int
*.lst
_Jims
\!SFALL
_lujo_gameflow(old)
timeslip's compiler info
ABBEY
ARROYO
BASE
BROKHILL
DEN
DOCS
ENCLAVE
EPA
GECKO
GENERIC
global
headers
HUBSTASH
KLAMATH
MAIN
MAPS
MODOC
NAVARRO
NCR
NEWRENO
PRMTRIBE
RAIDERS
REDDING
RNDENCTR
SANFRAN
SIERRA
slvcamp
TEMPLATE
VALTCITY
VAULT13
VAULT15
VILLOUT
compile.exe_non-sfall
P.BAT_non-sfall
